@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind&family=Prompt:wght@100;500&family=Roboto&display=swap');

$trans-clr :rgba(39, 174, 192, .3);
$transition-all: all .4s;
$box-shade: 0 0 20px  rgba(39, 174, 192, .3);
$hover-clr: #50d1c0;
$box-shade2: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
@mixin para {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}